/* Добавить шрифты */
@font-face {
	font-family: 'BubbleDriving'; 
	src: url(./fonts/beer-money12.ttf); 
}

@font-face {
	font-family: 'roboto'; 
	src: url(./fonts/caviar-dreams.ttf); 
}
/* До сюда */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from{ border-color: transparent }
  50% { border-color: rgb(2, 2, 2) }
  to {border-color: aliceblue;}
}

header {
 
  padding-right: 10em;
  position: fixed;
  width: 100%;
  /* background-color: #771f41; */
}

.header h1{
  font-family: BubbleDriving;
  color: blueviolet;
  font-size: 50px;
  margin-bottom: -35px;
  margin-top: -5px; 
  
}

.header nav {
  font-family:roboto ;
  font-size: 20px;
  text-align: right;
  margin-bottom: 15px;
  margin-right: 3em;  
}
.header a{
  padding-right: 1em; 
  text-decoration: none;
  color: rgb(122, 122, 122);
}

.navi:hover{
  
  background-color: #a20fc7;
  border-radius: 0 10px; 
  box-shadow: 0 0 5px 2px #a20fc7;
  transition: 1s;
  color: azure;
}

.p{

  font-size: 1.5em;
  opacity: 0;
}

.cover{    border-top: 2px solid #a18ec7;
  color: rgb(32, 32, 32);
  font-size: 25px;
  text-align: center;  
   font-family: monospace;
   overflow: hidden; /* Ensures the content is not revealed until the animation */
   border-right: .15em solid rgb(32, 32, 32); /* The typwriter cursor */
   white-space: nowrap; /* Keeps the content on a single line */
   margin: 0 auto; /* Gives that scrolling effect as the typing happens */
   letter-spacing: .15em; /* Adjust as needed */
   animation: 
     typing 10s steps(80, end),
     blink-caret .10s step-end  ;
}
@media screen and (max-width: 900px) {
  .Infomy img{ 
      margin-left: 5em;
  }
  .ileft{
    float: right;
    width: 50%;
  }
  
}
@media (max-width: 1199px) and (min-width: 901px) {
  .Infomy img{ 
    margin-left: 10em;
}
.ileft{
  float: right;
  width: 50%;
}
}
@media (max-width: 1399px) and (min-width: 1200px) {
  .Infomy img{ 
    margin-left: 20em;
}
.ileft{
  float: right;
  width: 45%;
}
}
@media(max-width: 1599px) and (min-width: 1400px) {
  .Infomy img{ 
    margin-left: 30em;
}
.ileft{
  float: right;
  width: 46%;
}
}
@media (min-width: 1600px) {
  .Infomy img{ 
    margin-left: 30em;
}
.ileft{
  float: right;
  width: 53%;
}
}

.Infomy img{
  
 border: 2px solid #a18ec7;
  height: 25em;
  width: 16em;
}
.ileft{
  font-family: roboto;
  font-size: 18px;
}
.basic h2{
  text-align: center;
  font-size: 25px;
  font-family: roboto;
  /* margin-top: 2em; */
}
.hover-effect-cover {
  list-style:none;
  margin: 0 auto;
  /* width: 100%; */
  text-align: center;
  padding: 0;
}
.hover-effect-cover img{
  height: 350px;
  border: 2px solid #a18ec7;
}
.hover-effect-cover li {
  position: relative;
  display: inline-block;
  background-color: #fff;
  margin: 0;
  border: 5px solid #fff;
   overflow: hidden; 
}
/* Заголовок, текст и ссылка */
.hover-effect-cover li h3{
  color: #fff;
  margin: 5px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #a52c9b;
  font-size: 30px;
  
}

.hover-effect-cover li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: #fff;
  background: rgb(95, 56, 95);
  border-radius: 5px;
  margin: 0 auto;
  transition: all 0.4s ease-in-out;
}
.hover-effect-cover li a:hover {
  background: #c329e2;
  color: #fff;
}
.hover-effect-cover li > div.effect-to-top {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hover-effect-cover li:hover > div.effect-to-top {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.hover-effect-cover li div.effect-to-top {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Фон блока при наведении */
  transition: all 0.4s ease-in-out;
  color: #fff;
  transform: translate(0px, 250px) rotate(0deg); /* Направление выезжающей панели */
}
.hover-effect-cover li:hover div.effect-to-top {
  opacity: 1;
  transform: translate(0px, 0px) rotate(0deg);
}
  
.contact h3{
  text-align: center;
  font-size: 25px;
  font-family: roboto;
}
.two img{
  height: 50px;
  padding-right: 1em;
}
.two{
  display: flex;
  justify-content: center;
}
.footer{
  background-color: #a18ec7;
  height: 40px;
  color: #fff;
  padding-top: 10px;
  text-align: center;
}

